@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #0C1117;
}

.border-gradient{
    background: linear-gradient(#606E7E, #0C1117 77.08%);
}

.border-top-left {
    border-top-left-radius: 70px 70px;
}

.h2Heading {
    color: #FFF;
    font-size: 48px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

@layer components {

.section {
    @apply  mt-16 ;
}

.flexCenter{
    @apply flex flex-1 flex-col items-center justify-center;
}

.flexStart{
    @apply flex flex-1 flex-col items-start justify-center;
}



}



.paging-dot {
    margin-left: 10px;
    width: 15px;
    height: 15px;
    fill: #fff;
    border: 3px solid #003ADB;
    border-radius: 50%;
    
}